{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>{% block title %}
        Divine Construction
    {% endblock %}</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Favicons -->
    <link href="{% static 'img/logo.png' %}" rel="icon"/>
    <link href="{% static 'img/logo.png' %}" rel="apple-touch-icon"/>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet"/>

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet"/>

    <!-- Template Main CSS File -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>

</head>
<body>

<header id="header" class="header d-flex align-items-center">
    <div
            class="container-fluid container-xl d-flex align-items-center justify-content-between"
    >
        <a href="{% url 'divineConstruction:index' %}" class="logo d-flex align-items-center">
            <div class="logo-container d-flex align-items-center">
                <img src="{% static 'img/logo.png' %}" alt="">
                <div>
                    <h1>Divine Construction<span>.</span></h1>
                    <p>Listen better, plan better, build better</p>
                </div>
            </div>
        </a>


        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{% url 'divineConstruction:index' %}"
                       class={% if request.path == '/' %}active{% endif %}>Home</a></li>
                <li><a href="{% url 'divineConstruction:about' %}"
                       class={% if request.path == '/about/' %}active{% endif %}>About</a></li>
                <li><a href="{% url 'divineConstruction:projects' %}"
                       class={% if request.path == '/projects/' %}active{% endif %}>Projects</a></li>
                <li><a href="{% url 'divineConstruction:contact' %}"
                       class={% if request.path == '/contact/' %}active{% endif %}>Contact</a></li>

                <li>
                    <button type="button" class="btn btn-warning">Become A Partner</button>

                </li>

            </ul>
        </nav>
        <!-- .navbar -->
    </div>
</header>

{% block content %}
{% endblock %}

<footer id="footer" class="footer">
    <div class="footer-content position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>Divine Construction</h3>
                        <p>
                            93, Becharam Chatterjee Road <br/>
                            Behala, Kolkata 700034<br/><br/>
                            <strong>Phone:</strong> +91 8017348463<br/>
                            <strong>Email:</strong> constructiondivine4@gmail.com<br/>
                        </p>
                        <div class="social-links d-flex mt-3">
                            <a
                                    href="{% url 'divineConstruction:index' %}"
                                    class="d-flex align-items-center justify-content-center"
                            ><i class="bi bi-twitter"></i
                            ></a>
                            <a
                                    href="{% url 'divineConstruction:index' %}"
                                    class="d-flex align-items-center justify-content-center"
                            ><i class="bi bi-facebook"></i
                            ></a>
                            <a
                                    href="{% url 'divineConstruction:index' %}"
                                    class="d-flex align-items-center justify-content-center"
                            ><i class="bi bi-instagram"></i
                            ></a>
                            <a
                                    href="{% url 'divineConstruction:index' %}"
                                    class="d-flex align-items-center justify-content-center"
                            ><i class="bi bi-linkedin"></i
                            ></a>
                        </div>
                    </div>
                </div>
                <!-- End footer info column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="{% url 'divineConstruction:index' %}">Home</a></li>
                        <li><a href="{% url 'divineConstruction:about' %}">About us</a></li>
                        <li><a href="{% url 'divineConstruction:contact' %}">Contact Us</a></li>
                        <li><a href="{% url 'divineConstruction:projects' %}">Projects</a></li>
                    </ul>
                </div>
                <!-- End footer links column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><a href="{% url 'divineConstruction:index' %}">Consultation</a></li>
                        <li><a href="{% url 'divineConstruction:index' %}">Design</a></li>
                        <li><a href="{% url 'divineConstruction:index' %}">Maintenance</a></li>
                        <li><a href="{% url 'divineConstruction:index' %}">Renovation</a></li>
                        <li><a href="{% url 'divineConstruction:index' %}">Remodeling</a></li>
                    </ul>
                </div>
                <!-- End footer links column-->


            </div>
        </div>

        <div class="footer-legal text-center position-relative">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>DivineConstruction</span></strong
                >. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="https://riffraff.cloud">RiffRaff</a>
                </div>
            </div>
        </div>
    </div>

    <a
            href="{{ request.path }}"
            class="scroll-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
    ></a>

</footer>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
