{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
        <div class="info d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2 data-aos="fade-down">
                            Welcome to <span>DivineConstruction</span>
                        </h2>
                        <p data-aos="fade-up">
                            At DivineConstruction, we turn blueprints into reality with
                            precision and artistry. From towering skyscrapers to bespoke
                            homes, our passion is crafting spaces that inspire and endure.
                            Every project is a testament to our commitment to quality and
                            innovation.
                        </p>
                        <a
                                data-aos="fade-up"
                                data-aos-delay="200"
                                href="#get-started"
                                class="btn-get-started"
                        >Get Started</a
                        >
                    </div>
                </div>
            </div>
        </div>

        <div
                id="hero-carousel"
                class="carousel slide"
                data-bs-ride="carousel"
                data-bs-interval="5000"
        >
            <div
                    class="carousel-item active"
                    style="
                            background-image: url({% static 'img/hero-carousel/hero-carousel-1.jpg' %});
                            "
            ></div>
            <div
                    class="carousel-item"
                    style="
                            background-image: url({% static 'img/hero-carousel/hero-carousel-2.jpg' %});
                            "
            ></div>
            <div
                    class="carousel-item"
                    style="
                            background-image: url({% static 'img/hero-carousel/hero-carousel-3.jpg' %});
                            "
            ></div>
            <div
                    class="carousel-item"
                    style="
                            background-image: url({% static 'img/hero-carousel/hero-carousel-4.jpg' %});
                            "
            ></div>
            <div
                    class="carousel-item"
                    style="
                            background-image: url({% static 'img/hero-carousel/hero-carousel-5.jpg' %});
                            "
            ></div>

            <a
                    class="carousel-control-prev"
                    href="#hero-carousel"
                    role="button"
                    data-bs-slide="prev"
            >
          <span
                  class="carousel-control-prev-icon bi bi-chevron-left"
                  aria-hidden="true"
          ></span>
            </a>

            <a
                    class="carousel-control-next"
                    href="#hero-carousel"
                    role="button"
                    data-bs-slide="next"
            >
          <span
                  class="carousel-control-next-icon bi bi-chevron-right"
                  aria-hidden="true"
          ></span>
            </a>
        </div>
    </section>
    <!-- End Hero Section -->

    <main id="main">
        <!-- ======= Get Started Section ======= -->
        <section id="get-started" class="get-started section-bg">
            <div class="container">
                <div class="row justify-content-between gy-4">
                    <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
                        <div class="content">
                            <h3>Commited to Excellence.</h3>
                            <p>
                                At DivineConstruction, we’re not just building structures;
                                we’re raising the bar for quality and sustainability in the
                                construction industry. Our team of experienced professionals
                                is dedicated to delivering projects that not only meet but
                                exceed your expectations.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-5" data-aos="fade">
                        <form method="post" class="php-email-form">
                            {% csrf_token %}
                            <h3>Request Call Back</h3>
                            <p>Share your vision with us, and let's discuss how we can bring it to life.</p>
                            <div class="row gy-3">
                                <div class="col-md-12">
                                    <input type="text" name="name" class="form-control" placeholder="Name" required/>
                                </div>
                                <div class="col-md-12">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required/>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="phone" placeholder="Phone" required/>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Message"
                                              required></textarea>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit">Get a call back</button>
                                </div>
                            </div>
                        </form>


                    </div>
                    <!-- End Quote Form -->
                </div>
            </div>

            <!-- Bootstrap Modal -->
            <div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Form Submission Status</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="responseMessage">
                            <!-- Response message will be injected here -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!-- End Get Started Section -->

        <!-- ======= Constructions Section ======= -->
        <section id="constructions" class="constructions">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2>Upcoming Projects</h2>
                    <p>Take a look at Devine Construction's upcoming projects.</p>
                </div>

                <div class="row gy-4" id="upcoming_projects">
                    {% for project in upcoming_projects %}
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="card-item">
                                <div class="row">
                                    <div class="col-xl-5">
                                        <!-- Using Django's get_media_prefix to handle media URL correctly -->
                                        <div class="card-bg"
                                             style="background-image: url({{ project.image.url }});"></div>
                                    </div>
                                    <div class="col-xl-7 d-flex align-items-center">
                                        <div class="card-body">
                                            <h4 class="card-title">{{ project.name }}</h4>
                                            <p>{{ project.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section>
        <!-- End Constructions Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2>Services</h2>
                    <p>
                        Expert craftsmanship in every build. Discover a service that
                        brings your projects to life.
                    </p>
                </div>

                <div class="row gy-4">
                    <div
                            class="col-lg-4 col-md-6"
                            data-aos="fade-up"
                            data-aos-delay="100"
                    >
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fa-solid fa-comments"></i>
                            </div>
                            <h3>Consultation</h3>
                            <p>
                                Tailored expert advice to navigate your construction projects
                                with confidence.
                            </p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div
                            class="col-lg-4 col-md-6"
                            data-aos="fade-up"
                            data-aos-delay="200"
                    >
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fa-solid fa-object-group"></i>
                            </div>
                            <h3>Design</h3>
                            <p>
                                Innovative and personalized designs that transform your space
                                into a masterpiece.
                            </p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div
                            class="col-lg-4 col-md-6"
                            data-aos="fade-up"
                            data-aos-delay="300"
                    >
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fa-solid fa-brush"></i>
                            </div>
                            <h3>Maintenance</h3>
                            <p>
                                Comprehensive upkeep services to ensure your property remains
                                in pristine condition.
                            </p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div
                            class="col-lg-4 col-md-6"
                            data-aos="fade-up"
                            data-aos-delay="300"
                    >
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fa-solid fa-screwdriver-wrench"></i>
                            </div>
                            <h3>Remodeling</h3>
                            <p>
                                Reinventing spaces with creativity and efficiency for a modern
                                lifestyle update.
                            </p>
                        </div>
                    </div>

                    <div
                            class="col-lg-4 col-md-6"
                            data-aos="fade-up"
                            data-aos-delay="300"
                    >
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fa-solid fa-building"></i>
                            </div>
                            <h3>Renovation</h3>
                            <p>
                                Restoring the charm and functionality of your spaces with our
                                detailed renovation work.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Our Projects Section ======= -->
        <section id="projects" class="projects">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2>Recent Projects</h2>
                    <p>
                        Take a look at the most recent projects developed by Divine Construction
                    </p>
                </div>

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                     data-portfolio-sort="original-order">
                    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
                        {% for project in recent_projects %}
                            <div class="col-lg-4 col-md-6 portfolio-item filter-{{ project.type|lower }}">
                                <div class="portfolio-content h-100">
                                    <img src="{{ project.image.url }}" class="img-fluid" alt="{{ project.name }}">
                                    <div class="portfolio-info">
                                        <h4>{{ project.name }}</h4>
                                        <p>{{ project.description }}</p>
                                        <a href="{{ project.image.url }}" title="{{ project.name }}"
                                           data-gallery="portfolio-gallery-{{ project.type|lower }}"
                                           class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                        <a href="project-details.html?project_id={{ project.id }}" title="More Details"
                                           class="details-link"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>No projects available.</p>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </section>
        <!-- End Our Projects Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2>Testimonials</h2>
                    <p>
                        Take a look at what our clients say about us.
                    </p>
                </div>

                <div class="slides-2 swiper">
                    <div class="swiper-wrapper">
                        {% for testimonial in testimonials %}
                            <div class="swiper-slide">
                                <div class="testimonial-wrap">
                                    <div class="testimonial-item">
                                        <h3>{{ testimonial.name }}</h3>
                                        <h4>{{ testimonial.occupation }}</h4>
                                        <div class="stars">
                                            {% for i in 5|range:testimonial.rating %}
                                                <i class="bi bi-star-fill"></i>
                                            {% endfor %}
                                            {% for i in testimonial.rating|range:5 %}
                                                <i class="bi bi-star"></i>
                                            {% endfor %}
                                        </div>
                                        <p>
                                            <i class="bi bi-quote quote-icon-left"></i>
                                            {{ testimonial.testimony }}
                                            <i class="bi bi-quote quote-icon-right"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>No testimonials available.</p>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>


            </div>
        </section>
        <!-- End Testimonials Section -->
    </main>
    <!-- End #main -->

    <a
            href="#"
            class="scroll-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader"></div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
        $(document).ready(function () {
            $('.php-email-form').submit(function (e) {
                e.preventDefault(); // Prevent the default form submission

                $.ajax({
                    type: 'POST',
                    url: '', // Post to the same URL as the form
                    data: $(this).serialize(), // Serialize the form data
                    success: function (response) {
                        // Update the modal body text and show the modal
                        $('#responseMessage').text(response.message);
                        $('#responseModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        // Optionally handle errors
                        $('#responseMessage').text('Error: ' + xhr.responseText);
                        $('#responseModal').modal('show');
                    }
                });
            });
        });
    </script>

    </body>
{% endblock %}