{% extends 'base.html' %}

{% load static %}

{% block title %}
    About {{ project.name }}
{% endblock %}

{% block content %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center"
             style="background-image: url({{ project.image.all.first.image.url }});">
            <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

                <h2>Project Details</h2>

                <ol>
                    <li><a href="{% url 'divineConstruction:index' %}">Home</a></li>
                    <li>Project Details</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->

        <section id="project-details" class="project-details">
            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row-cols-lg-1">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Name</strong> <span>{{ project.name }}</span></li>
                            <li><strong>Description</strong> <span>{{ project.description }}</span></li>
                            <li><strong>Location</strong> <span>{{ project.location }}</span></li>
                            <li><strong>Service Type</strong> <span>{{ project.type }}</span></li>
                            <li><strong>Images</strong> <span>{{ project.type }}</span></li>
                        </ul>


                        <div class="container mt-5">
                            {% if project.image.all %}
                                <div class="row">
                                    {% for image in project.image.all %}
                                        <div class="col-md-3 col-sm-6 mb-4">
                                            <div class="card">
                                                <img src="{{ image.image.url }}" class="card-img-top img-fluid"
                                                     alt="{{ image.alt }}">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p>No images available for this project.</p>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </section><!-- End Projet Details Section -->

    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock %}
