{% extends 'base.html' %}

{% load static %}

{% block title %}
    About {{ project.name }}
{% endblock %}

{% block content %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center"
             style="background-image: url({{ project.image.url }});">
            <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

                <h2>Project Details</h2>

                <ol>
                    <li><a href="{% url 'divineConstruction:index' %}">Home</a></li>
                    <li>Project Details</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->

        <section id="project-details" class="project-details">
            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row-cols-lg-1">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Name</strong> <span>{{ project.name }}</span></li>
                            <li><strong>Description</strong> <span>{{ project.description }}</span></li>
                            <li><strong>Location</strong> <span>{{ project.location }}</span></li>
                            <li><strong>Service Type</strong> <span>{{ project.type }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- End Projet Details Section -->

    </main>
{% endblock %}
